// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Source+Code+Pro&display=swap');

$openSans: 'Open Sans', sans-serif;
$sourceCodePro: 'Source Code Pro', monospace;

// Colors
$darkBlue: #2d3239;
$grey: #363d46;
$darkGrey: #303741;
$white: #ffffff;

//RWD 450px, 650px, 1200px
$breakpoints: (
    'sm': '28.125rem',
    'md': '40.625rem',
    'lg': '75rem',
);

@mixin breakpointMax($screen-size) {
    @media (max-width: map-get($breakpoints, $screen-size)) {
        @content;
    }
}
