// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

$openSans: 'Open Sans', sans-serif;

// Colors
$darkBlue: #2d3239;
$gray: #363d46;
$white: #ffffff;

//RWD 450px, 750px, 1050px, 1400px
$breakpoints: (
    'sm': '28.125rem',
    'md': '46.875rem',
    'lg': '65.625rem',
    'xl': '87.5rem',
);

@mixin breakpointMax($screen-size) {
    @media (max-width: map-get($breakpoints, $screen-size)) {
        @content;
    }
}
